#chartCenter {
    display: flex;
    flex-direction:column;
    width: 100vh;
    height: 90vh; 
    /*뷰포트의 90%*/
    padding: 10px;
    font-size: 1em;
    border-radius: 2%;
}

#chartTop{
    /* flex 4,3,1 다합쳐서 8개중에 4를 차지 */
    /* flex: 4 */
    margin-bottom: 2%;
    display: flex;
}

#chartTop ul{
    width: 100%;
    text-align: right;
}

#chartTop ul li{
    display: none;
    background-color: #fff;
    margin: 2%;
    height: 40px;
    width: 96%;
    border-radius: 40px;
    box-sizing: border-box;/*볼더넓이를제외*/
 }

#chartTop ul>span{
    display: block;
    width: 100%;
    padding-left:5%;
    text-align: left;
    font-size: large;
    font-weight: bold;
}

#chartTop ul li span{
    display: block;
    background-color:steelblue;
    height: 40px;
    line-height: 40px;
    color: #fff;
    width: 0;
    border-radius: 40px;
    padding-right: 10px;
    text-align: right;
}

 /*2초동안 1번의 애니메이션*/
#graph1 span{
    animation: stack1 2s 1;
} 
#graph2 span{
    animation: stack2 2s 1;
}
#graph3 span{
    animation: stack3 2s 1;
}
#graph4 span{
    animation: stack4 2s 1;
}
#graph5 span{
    animation: stack5 2s 1;
}
#graph6 span{
    animation: stack6 2s 1;
}
#graph7 span{
    animation: stack7 2s 1;
}
@keyframes stack1{
    0%{width: 0;}
    100%{width: 0;}
}
@keyframes stack2{
    0%{width: 0;}
    100%{width: 0;}
}
@keyframes stack3{
    0%{width: 0;}
    100%{width: 0;}
}
@keyframes stack4{
    0%{width: 0;}
    100%{width: 0;}
}
@keyframes stack5{
    0%{width: 0;}
    100%{width: 0;}
}
@keyframes stack6{
    0%{width: 0;}
    100%{width: 0;}
}
@keyframes stack7{
    0%{width: 0;}
    100%{width: 0;}
}

#chartMiddle{
    flex: 3;
    border-width:2px 2px 0 2px;
    border-style: solid;
    border-color: skyblue;
    border-collapse: collapse;
    overflow: auto;
}
#chartMiddle table{
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    width: 100%;/*정의필수*/
}

#chartMiddle thead tr {
    font-size: large;
    height: 45px;
    background-color: #eee;
}
#chartMiddle thead th{
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: skyblue;
}

#chartMiddle tbody tr {
    font-size: medium;
    height: 35px;
}

#chartMiddle tbody tr:hover {
    background-color: skyblue;
    /* letter-spacing: -1px; 꿈틀거리기 피함 */
}

#chartMiddle tbody td{
    border: 1px solid skyblue;
}

#chartMiddle tbody td:nth-child(2){
    border-right: 0;
}

#chartMiddle tbody td:nth-child(3){
    border-left: 0;
}

#chartTotal{
    width: 100%;
    font-size: medium;
    height: 45px;
    text-align: left;
    line-height: 45px;
    background-color: #eee;
}
#chartTotal ul{
    display: flex;
    height: 100%;
}
#chartTotal li{
    flex: 1;
    height: 100%;
    border: 1px solid skyblue;
    font-weight: bold;
    border-collapse: collapse;
    padding-left: 3%;
}

/************************* BOTTOM  ******************************/
#chartBottom{
    flex: 1;
}
#chartBottom form{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center ;
}
#chartBottom div:nth-child(1){
    flex: 4;
    text-align: right;
}
#chartBottom div:nth-child(2){
    flex: 2;
    text-align: center;
}
#chartBottom div>*{
    font-weight: bold;
    display: inline-block;
}

#chartBottom div ul li{
    display: inline-block;
}

#chartBottom button{
    width: 85px;
    height: 45px;
}

#chartBottom input{
    text-align: center;
    height: 40px;
    font-size: 15px;
    border-radius: 10px;
}

#chartBottom label{
    font-size: 15px;
    padding-right: 5px;
}