
/* BUTTON */
.button {
    margin: 5px;
    padding: 5px;/*패딩사용시 width,height증가함. 그러므로 줄여줘야함*/
    border: 1px solid skyblue;
    background-color: rgba(0, 0, 0, 0);
    color: skyblue;
    border-radius: 5px;
}

.button:hover {
    color: white;
    background-color: skyblue;
}

/* TEXTAREA */
textarea {
    resize: none;
    border: 2px solid skyblue;
    background-color: rgba(0, 0, 0, 0);
    min-height: 30px;
    border-radius: 5px;
}