#orderCenter>div {
    width: 1000px;
    margin: 0 auto;
}

/* TOP */
#orderTop {
    height: 60px;
    margin: 10px auto 5px!important;
}
#orderTop #orderTop1{
    float: left;
    width: 315px;
    height: 50px;
    border: 1px solid skyblue;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
    margin-right: 12px;
}
#orderTop #orderTop2{
    float: left;
    width: 670px;
}

#orderTop #orderTop2 ul>li{
    float: left;
    height: 40px;
    width: 80px;
    line-height: 40px;
    text-align: center;
    margin-top: 0px;
}
#orderTop #orderTop2 ul>li:last-child{
    float: right;
    height: 40px;
    width: 80px;
    line-height: 40px;
    text-align: center;
}

/* TABLE */
#orderMid {
    clear: both;
    height: 430px;
    text-align: center;
    background-color: #eee;
    border-radius: 2%;
    position: relative; /*relative(부모)->absolute(자식)*/
    /*relative(기준점)-absolute(문서전체,상위relative찾아감)*/
}

#orderMid #orderitemList{
    position: absolute; 
    top: 10px;
    left: 10px;
    background-color: #ffffff98;
    width: 300px;
    height: 400px;
}

#orderMid #menuList{
    position: absolute; 
    top: 10px;
    left: 330px;
}

#orderMid #orderMidMidMenu{
    margin-bottom: 80px;
}

#orderMid #orderMidMidMenu>ul>li{
    float: left;
    width: 110px;
    height: 50px;
    line-height: 50px;
}

#orderMid #orderSmallMenu>ul>li{
    float: left;
    width: 110px;
    height: 55px;
    line-height: 55px;
}

.orderHr{
    position: relative;
    top: 5px;
    left:5px;
    width: 650px;

}

/* BOTTOM */
#orderBottom {
    clear: both;
    height: 100px;
    text-align: center;
    margin-top: 10px!important;
}

#orderBottom #orderBottomTop{
    float: left;
    width: 330px;
}

#orderBottom #orderBottomTop #orderBottomTop1{
    width: 310px;
    height: 45px;
    border: 1px solid skyblue;
    border-radius: 5px;
    text-indent: 10px;
    text-align: left;
    line-height: 45px;
    margin: 5px 0 0 5px;
}

#orderBottom #orderBottomTop #orderBottomTop2>ul>li{
    float: left;
    width: 58px;
    height: 45px;
    line-height: 20px;
}

#orderBottom #orderBottomMid{
    float: left;
    width: 500px;
}

#orderBottom #orderBottomMid>ul>li{
    float: left;
    width: 76px;
    height: 37px;
    text-align: center;
    line-height: 37px;
}

#orderBottom #orderBottomRight{
    float: left;
    width: 170px;
}
#orderBottom #orderBottomRight>ul>li{
    float: right;
    width: 150px;
    height: 95px;
    text-align: center;
    line-height: 95px;
}




