#paycenter {
    /* MODAL 창크기조절 */
    height: 660px;
    width: 450px;
    padding-top: 10px;
    border-radius: 5px;
}

#paycenter > div {
    width: 400px;
    margin: 0 auto;
    margin-top: 10px;
}

#payTop {
    height: 70px;
    background-color: #eee;
    border-radius: 5px;
}

#payTop #payTabNum {
    text-align: center;
    line-height: 40px;
    font-size: 25px;
    font-weight: bold;
}

#payTop #payTabTim {
    text-align: left;
    text-indent: 10px;
    line-height: 30px;
}

#payMain {
    height: 400px;
    border: 1px solid #a3a3a3;
    border-radius: 5px;
    overflow: auto; /*해당 table의 상위 div에 스크롤을 걸어준다*/
}

#payBottom {
    height: 60px;
    /* border: 1px solid skyblue; */
    background-color: #eee;
    border-radius: 5px;
    line-height: 60px;
    text-indent: 10px;
}

#payBtn {
    height: 60px;
}

#payBtn > ul > li {
    float: left;
    height: 60px;
    width: 142px; /*button class에 있는 padding,margin제외 */
    line-height: 60px;
    text-align: center;
}
#payBtn > ul > li.paycloseBtn {
    height: 60px;
    width: 50px; /*button class에 있는 padding,margin제외 */
}

/* 데이터 테이블 그리드 */
#datagrid {
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    background: #fff;
}

#datagrid table {
    border-collapse: collapse; /* border-collapse: collapse; table의 선이 겹치는 부분을 합친다 */
    text-align: center;
    width: 100%;
}

#datagrid table thead th {
    background-color: #8c8c8c;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #a3a3a3;
    height: 40px;
}

#datagrid table tbody td {
    color: #7d7d7d;
    border: 1px solid #dbdbdb;
    font-size: 12px;
    font-weight: normal;
    height: 35px;
}

#datagrid table tbody .alt td {
    background: #ebebeb;
    color: #7d7d7d;
}
