#center>div {
    width: 1000px;
    margin: 0 auto;
}

/* TOP */
#top {
    height: 80px;
    text-align: center;
    line-height: 80px;
}

#top h1 {
    line-height: 80px;
    float: left;
    width: 100px;
}

#top #curTime {
    margin-top: 10px;
    line-height: 30px;
    font-size: 18px;
    float: left;
    width: 200px;
}

#top h2 {
    float: left;
    width: 450px;
    font-size: 50px;
    font-weight: bold;
    font-family: monospace;
    color: skyblue;
}

#top #workManage {
    margin: 10px 10px;
    float: right;
    width: 80px;
    height: 50px;
    line-height: 50px;
}

#top #exit {
    margin: 10px 10px;
    float: right;
    width: 80px;
    height: 50px;
    line-height: 50px;
}

/* TABLE */
#table {
    clear: both;
    height: 430px;
    text-align: center;
    background-color: #eee;
    border-radius: 2%;
    margin-top: 20px;
    padding: 5px 5px 5px 1px;
}

#table .seat {
    float: left;
    width: 185px;
    height: 70px;
    margin: 5px;
}

#table .seat div:first-child{
    padding-top: 3px;
    font-weight: bold;
}

#table .seat div#tabTime{
    position: absolute;
    bottom: 25px;
    left: 3px;
}

#table .seat div#tabTot{
    position: absolute;
    bottom: 3px;
    left: 3px;
}

/* BOTTOM */
#bottom {
    clear: both;
    height: 100px;
    text-align: center;
    margin-top: 20px!important;
}

#bottom>div {
    float: left;
}

#bottom #btnListSm {
    width: 500px;
    height: 90px;
    margin-left: 30px;
}

#bottom #btnListSm li {
    float: left;
    width: 75px;
    line-height: 45px;
    height: 45px;
}

#bottom #btnListSm li a {
    display: block;
}

#bottom #btnListLg {
    float: right;
    width: 220px;
}

#bottom #btnListLg li {
    float: left;
    width: 80px;
    height: 80px;
    line-height: 80px;
}

#bottom #btnListLg li a {
    display: block;
}

/* TABLE */
.seat{
    border: 2.5px solid skyblue;
    background-color: rgba(0, 0, 0, 0);
    color: skyblue;
    border-radius: 5px;
    position: relative;
}
.seat:hover {
    color: white;
    border: 2.5px solid #739aee;
}

.button.active{
    color: white;
    background-color: skyblue;
}

/* BUTTON */
.button {
    margin: 5px;
    padding: 5px;/*패딩사용시 width,height증가함. 그러므로 줄여줘야함*/
    border: 1px solid skyblue;
    background-color: rgba(0, 0, 0, 0);
    color: skyblue;
    border-radius: 5px;
}

.button:hover {
    color: white;
    background-color: skyblue;
}

/* TABLE */
textarea {
    resize: none;
    border: 2px solid skyblue;
    background-color: rgba(0, 0, 0, 0);
    min-height: 30px;
    border-radius: 5px;
}
#itemList{
    margin-bottom: 10px;
}
#itemTotal{
    
}
