<div id="chartBg" class="modal-overlay">
    <div id="chartCenter" class="modal-content">
        <div id="chartTop">
            <ul>
                <span></span><li id="graph1"><span>0%</span></li>
                <span></span><li id="graph2"><span>0%</span></li>
                <span></span><li id="graph3"><span>0%</span></li>
                <span></span><li id="graph4"><span>0%</span></li>
                <span></span><li id="graph5"><span>0%</span></li>
                <span></span><li id="graph6"><span>0%</span></li>
                <span></span><li id="graph7"><span>0%</span></li>
            </ul>
        </div>
        <div id="chartMiddle">
            <table>
                <thead>
                    <tr>
                        <th>일자</th>
                        <th colspan="2">금액</th>
                        <th>퍼센트</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div id="chartTotal">
            <ul>
                <li>합계</li>
                <li id="totalSum">0</li>
                <li>평균</li>
                <li id="totalAvg">0</li>
                <li>평균퍼센트</li>
                <li id="totalPerAvg">0</li>
            </ul>
        </div>
        <div id="chartBottom">
            <form action="/chart/getChart" id="chartForm" method="POST">
                <div>
                    <label for="chartAmt">목표금액</label>
                    <input type="text" name="amount" value="1,000,000" id="chartAmt">
                    <label for="chartWeek">검색일자</br>&emsp;(~1Week)</label>
                    <input type="date" name="date" id="chartWeek">
                </div>
                <div>
                    <ul>
                        <li ><button class="button" id="btnReset" type="button" >검색조건</br>초기화</button></li>
                        <li><button class="button" id="btnChartSerach" type="submit">검색</button></li>
                        <li ><button class="button" id="btnChartClose" type="button">닫기</button></li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>