<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/order.css') }}">
</head>

<body>
    <div id="center">
        <div id="orderTop">
            <div id="tableNo">111</div>
            <ul>
                <li id="b1" class="button"><a href="#a">메뉴1번</a></li>
                <li id="b2" class="button"><a href="#a">메뉴2번</a></li>
                <li id="b3" class="button"><a href="#a">메뉴3번</a></li>
                <li id="b4" class="button"><a href="#a">메뉴4번</a></li>
                <li id="b5" class="button"><a href="#a">메뉴5번</a></li>
                <li id="orderClose" class="button"><a href="#a">닫기</a></li>
            </ul>
        </div>
        <div id="orderMid">
            <div><textarea name="" id="orderitemList" disabled></textarea></div>
            <div id="menuList">
                <div id="orderMidMidMenu">
                    <ul>
                        <li id="m1" class="button"><a href="#a">한식류</a></li>
                        <li id="m2" class="button"><a href="#a">일식류</a></li>
                        <li id="m3" class="button"><a href="#a">중식류</a></li>
                        <li id="m4" class="button"><a href="#a">양식류</a></li>
                        <li id="m5" class="button"><a href="#a">음료</a></li>
                    </ul>
                </div>
                <hr class="orderHr">
                <div id="orderSmallMenu">
                    <ul>
                        <li id="s1" class="button"><a href="#a"></a></li>
                        <li id="s2" class="button"><a href="#a"></a></li>
                        <li id="s3" class="button"><a href="#a"></a></li>
                        <li id="s4" class="button"><a href="#a"></a></li>
                        <li id="s5" class="button"><a href="#a"></a></li>
                        <li id="s1" class="button"><a href="#a"></a></li>
                        <li id="s2" class="button"><a href="#a"></a></li>
                        <li id="s3" class="button"><a href="#a"></a></li>
                        <li id="s4" class="button"><a href="#a"></a></li>
                        <li id="s5" class="button"><a href="#a"></a></li>
                        <li id="s1" class="button"><a href="#a"></a></li>
                        <li id="s2" class="button"><a href="#a"></a></li>
                        <li id="s3" class="button"><a href="#a"></a></li>
                        <li id="s4" class="button"><a href="#a"></a></li>
                        <li id="s5" class="button"><a href="#a"></a></li>
                        <li id="s1" class="button"><a href="#a"></a></li>
                        <li id="s2" class="button"><a href="#a"></a></li>
                        <li id="s3" class="button"><a href="#a"></a></li>
                        <li id="s4" class="button"><a href="#a"></a></li>
                        <li id="s5" class="button"><a href="#a"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="orderBottom">
            <div>
                <div id="orderBottomTotal">합계</div>
                <div id="orderBottomLeft">
                    <ul>
                        <li id="ob1" class="button">주문<br>합계<a href="#a"></a></li>
                        <li id="ob2" class="button">주방<br>메모<a href="#a"></a></li>
                        <li id="ob3" class="button"><a href="#a"><img
                                    src="{{ url_for('static', filename='img/arrow_up.png') }}" alt="nextButton"
                                    width="50px" height="50px"></a></li>
                        <li id="ob4" class="button"><a href="#a"><img
                                    src="{{ url_for('static', filename='img/arrow_down.png') }}" alt="nextButton"
                                    width="50px" height="50px"></a></li>
                    </ul>
                </div>
            </div>
            <div id="orderBottomMid">
                <ul>
                    <li class="button"><a href="#a">+</a></li>
                    <li class="button"><a href="#a">-</a></li>
                    <li class="button"><a href="#a">포장</a></li>
                    <li class="button"><a href="#a">배달</a></li>
                    <li class="button"><a href="#a">서비스</a></li>
                    <li class="button"><a href="#a">이전취소</a></li>
                    <li class="button"><a href="#a">전체취소</a></li>
                    <li class="button"><a href="#a">저장취소</a></li>
                    <li class="button"><a href="#a">수량입력</a></li>
                    <li class="button"><a href="#a">선불</a></li>
                </ul>
            </div>
            <div id="orderBottomRight">
                <ul>
                    <li class="button"><a href="#a">취소</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>