<div id="orderBg" class="modal-overlay">
    <div id="orderCenter" class="modal-content">
        <div id="orderTop" class="clear">
            <div id="orderTop1"></div>
            <div id="orderTop2">
                <ul class="clear">
                    <li id="b1" class="button b_btn"><a href="#a">일반메뉴</a></li>
                    <li id="b2" class="button b_btn"><a href="#a">여름메뉴</a></li>
                    <li id="b3" class="button b_btn"><a href="#a">겨울메뉴</a></li>
                    <li id="orderClose" class="button ordcloseBtn"><a href="#a">닫기</a></li>
                </ul>
            </div>
        </div>
        <div id="orderMid">
            <div><textarea name="" id="orderitemList" disabled></textarea></div>
            <div id="menuList">
                <div id="orderMidMidMenu">
                    <ul>
                        <li id="m1" class="button m_btn"><a href="#a">한식류</a></li>
                        <li id="m2" class="button m_btn"><a href="#a">일식류</a></li>
                        <li id="m3" class="button m_btn"><a href="#a">중식류</a></li>
                        <li id="m4" class="button m_btn"><a href="#a">양식류</a></li>
                        <li id="m5" class="button m_btn"><a href="#a">음료</a></li>
                    </ul>
                </div>
                <hr class="orderHr">
                <div id="orderSmallMenu">
                    <ul >
                        {% for i in range(20) %}
                        <li id="s{{loop.index}}" class="button s_btn"><a href="#a"></a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div id="orderBottom" class="clear">
            <div id="orderBottomTop">
                <div id="orderBottomTop1">합계</div>
                <div id="orderBottomTop2">
                    <ul class="clear">
                        <li id="ob1" class="button">주문<br>합계<a href="#a"></a></li>
                        <li id="ob2" class="button">주방<br>메모<a href="#a"></a></li>
                        <li id="ob3" class="button"><a href="#a"><img
                                    src="{{ url_for('static', filename='img/arrow_up.png') }}" alt="nextButton"
                                    width="45px" height="45px"></a></li>
                        <li id="ob4" class="button"><a href="#a"><img
                                    src="{{ url_for('static', filename='img/arrow_down.png') }}" alt="nextButton"
                                    width="45px" height="45px"></a></li>
                    </ul>
                </div>
            </div>
            <div id="orderBottomMid">
                <ul class="clear">
                    <li class="button"><a href="#a">+</a></li>
                    <li class="button"><a href="#a">-</a></li>
                    <li class="button"><a href="#a">포장</a></li>
                    <li class="button"><a href="#a">배달</a></li>
                    <li class="button"><a href="#a">서비스</a></li>
                    <li class="button"><a href="#a">이전취소</a></li>
                    <li class="button"><a href="#a">전체취소</a></li>
                    <li class="button"><a href="#a">저장취소</a></li>
                    <li class="button"><a href="#a">수량입력</a></li>
                    <li class="button"><a href="#a">선불</a></li>
                </ul>
            </div>
            <div id="orderBottomRight">
                <ul class="clear">
                    <li class="button"><a href="#a">주문</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>