<div id="payBg" class="modal-overlay">
    <div id="paycenter" class="modal-content">
        <div id="payTop">
            <div id="payTabNum"></div>
            <div id="payTabTim"></div>
        </div>
        <div id="payMain">
            <div id="payList">
                <table>
                    <thead>
                        <tr>
                            <th colspan="2">주문내역</th>
                            <th>수량</th>
                            <th>금액</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="payBottom">
            <b>합계&emsp;<span id="payTot"></span>원</b>
        </div>
        <div id="payBtn">
            <ul class="clear">
                <li class="button" id="payCard"><a href="#a"></a>카드결제</li>
                <li class="button" id="payMoney"><a href="#a"></a>현금결제</li>
                <li class="button paycloseBtn"><a href="#a"></a>취소</li>
            </ul>
        </div>
    </div>
</div>
