<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
</head>

<body>
    <div id="center">
        <div id="top">
            <h1><img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo" width="50px" height="50px"></h1>
            <div id="curTime">현재시간</div>
                <h2>메뉴등록판</h2>
            <ul>
                <li id="exit" class="button"><a href="#a">종료</a></li>
                <li id="workManage" class="button"><a href="#a" >근태관리</a></li>
            </ul>
        </div>
        <div id="table">
            <ul>
                <li class="seat">
                    <a href="#a">
                        <div>1</div>
                        <div></div>
                        <div></div>
                    </a>
                </li>
                <li class="seat">
                    <a href="#a">
                        <div>2</div>
                        <div></div>
                        <div></div>
                    </a>
                </li>
                <li class="seat">
                    <a href="#a">
                        <div>3</div>
                        <div></div>
                        <div></div>
                    </a>
                </li>
                <li class="seat">
                    <a href="#a">
                        <div>4</div>
                        <div></div>
                        <div></div>
                    </a>
                </li>
                <li class="seat">
                    <a href="#a">
                        <div>5</div>
                        <div></div>
                        <div></div>
                    </a>
                </li>
                <li class="seat">
                    <a href="#a">
                        <div>6</div>
                        <div></div>
                        <div></div>
                    </a>
                </li>
                <li class="seat">
                    <a href="#a">
                        <div>7</div>
                        <div></div>
                        <div></div>
                    </a>
                </li>
                <li class="seat">
                    <a href="#a">
                        <div>8</div>
                        <div></div>
                        <div></div>
                    </a>
                </li>
                <li class="seat">
                    <a href="#a">
                        <div>9</div>
                        <div></div>
                        <div></div>
                    </a>
                </li>
                <li class="seat">
                    <a href="#a">
                        <div>10</div>
                        <div></div>
                        <div></div>
                    </a>
                </li>
                <li class="seat">
                    <a href="#a">
                        <div>11</div>
                        <div></div>
                        <div></div>
                    </a>
                </li>
                <li class="seat">
                    <a href="#a">
                        <div>12</div>
                        <div></div>
                        <div></div>
                    </a>
                </li>
                <li class="seat">
                    <a href="#a">
                        <div>13</div>
                        <div></div>
                        <div></div>
                    </a>
                </li>
                <li class="seat">
                    <a href="#a">
                        <div>14</div>
                        <div></div>
                        <div></div>
                    </a>
                </li>
                <li class="seat">
                    <a href="#a">
                        <div>15</div>
                        <div></div>
                        <div></div>
                    </a>
                </li>
                <li class="seat">
                    <a href="#a">
                        <div>16</div>
                        <div></div>
                        <div></div>
                    </a>
                </li>
                <li class="seat">
                    <a href="#a">
                        <div>17</div>
                        <div></div>
                        <div></div>
                    </a>
                </li>
                <li class="seat">
                    <a href="#a">
                        <div>18</div>
                        <div></div>
                        <div></div>
                    </a>
                </li>
                <li class="seat">
                    <a href="#a">
                        <div>19</div>
                        <div></div>
                        <div></div>
                    </a>
                </li>
                <li class="seat">
                    <a href="#a">
                        <div>20</div>
                        <div></div>
                        <div></div>
                    </a>
                </li>
                <li class="seat">
                    <a href="#a">
                        <div>21</div>
                        <div></div>
                        <div></div>
                    </a>
                </li>
                <li class="seat">
                    <a href="#a">
                        <div>22</div>
                        <div></div>
                        <div></div>
                    </a>
                </li>
                <li class="seat">
                    <a href="#a">
                        <div>23</div>
                        <div></div>
                        <div></div>
                    </a>
                </li>
                <li class="seat">
                    <a href="#a">
                        <div>24</div>
                        <div></div>
                        <div></div>
                    </a>
                </li>
                <li class="seat">
                    <a href="#a">
                        <div>25</div>
                        <div></div>
                        <div></div>
                    </a>
                </li>
            </ul>
        </div>
        <div id="bottom">
            <div id="orderItems">
                <div><textarea name="" id="itemList" cols="30" rows="6" disabled></textarea></div>
                <div><textarea name="" id="itemTotal" cols="30" rows="1" disabled></textarea></div>
            </div>
            <div id="btnListSm">
                <ul>
                    <li class="button"><a href="#a">취소</a></li>
                    <li class="button"><a href="#a">합석</a></li>
                    <li class="button"><a href="#a">계산서</a></li>
                    <li class="button"><a href="#a">돈통</a></li>
                    <li class="button"><a href="#a"><img src="{{ url_for('static', filename='img/arrow_up.png') }}" alt="nextButton" width="50px" height="50px"></a></li>
                    <li class="button"><a href="#a">1층홈</a></li>
                    <li class="button"><a href="#a">2층홈</a></li>
                    <li class="button"><a href="#a">3층홈</a></li>
                    <li class="button"><a href="#a">결제변경</a></li>
                    <li class="button"><a href="#a"><img src="{{ url_for('static', filename='img/arrow_down.png') }}" alt="beforeButton" width="50px" height="50px"></a></li>
                </ul>
            </div>
            <div id="btnListLg">
                <ul>
                    <li class="button"><a href="#a">주문</a></li>
                    <li class="button"><a href="#a">계산</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>